.home {
  position: relative;
  width: 100%;

  > .filter-bar {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .map-wrapper {
    overflow: hidden;
    max-height: 0; /* 초기 높이 설정 */
    transition: max-height 0.5s ease-out; /* 애니메이션 효과 적용 */
  }

  .map-wrapper.visible {
    max-height: 1440px; /* 최대 높이 설정, 실제 필요한 높이로 조절 */
    /* transition 속성은 상위 클래스에서 이미 정의되어 있으므로 재정의할 필요 없음 */
  }

  > .contents {
    position: relative;
  }
}
