.home {
  position: relative;
  padding: 0px 12px;
  > .filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 12px 0;
    gap: 12px;
    &.mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  > .tabs {
    padding: 12px 0px 0px;
    position: sticky;
    top: 0px;
  }

  > .contents {
    margin: 36px 0px 48px;
  }
}
