.home {
  position: relative;
  width: 100%;
  height: 100%;

  > .filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  > .contents {
    position: relative;
  }
}

.map-wrapper {
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* 애니메이션 효과 적용 */
  position: fixed;
  left: 0px;
  bottom: -100%;
  z-index: 1;
  width: 100%;
  height: calc(100% - 36px);
}

.map-wrapper.visible {
  bottom: 0px;
}
