@import "_variables.scss";

@import "components/itemcard";
@import "components/button";
@import "components/section";
@import "components/header";
@import "components/collapse";
@import "components/grid";
@import "components/label";
@import "components/masonry";
@import "components/map";
@import "components/input";

@import "routes/home";
@import "routes/room";

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.root {
  position: relative;
  height: 100vh;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
