@import "_variables.scss";

@import "components/itemcard";
@import "components/button";
@import "components/section";
@import "components/header";
@import "components/collapse";
@import "components/grid";
@import "components/iconlabel";
@import "components/masonry";

@import "routes/home";
@import "routes/room";

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.root {
  position: relative;
  height: 100vh;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.price-tag {
  background-color: #4285f4;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  z-index: 10000;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285f4;
}
