@import "_variables.scss";

@import "components/itemcard";
@import "components/button";
@import "components/section";
@import "components/header";
@import "components/collapse";
@import "components/grid";
@import "components/label";
@import "components/masonry";
@import "components/map";
@import "components/input";

@import "routes/home";
@import "routes/room";

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "NanumSquare", sans-serif;
}

.root {
  position: relative;
  height: 100vh;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sticker-container {
  display: flex;
  flex-direction: row;
  background-size: cover; /* 이미지가 컨테이너를 꽉 채우도록 설정 */
  overflow: scroll;
  gap: 12px;
  padding: 12px;
  flex-wrap: nowrap; /* 한 줄에 모든 항목을 표시하도록 설정 */
  border-radius: 12px;
  margin: 8px 0 24px;
  box-shadow:
    rgba(255, 158, 255, 0.2) 0px 0px 12px 1px inset,
    rgba(200, 158, 255, 0.2) 0px 0px 12px 1px;
}

.sticker-container > .image-wrapper {
  flex: 0 0 60px; /* flex-grow, flex-shrink를 0으로 설정하고, flex-basis를 72px로 설정 */

  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.sticker-container > .image-wrapper::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 50%;
  background-image: conic-gradient(
    at 125% 50%,
    #b78cf7,
    #ff7c94,
    #ffcf0d,
    #ff7c94,
    #b78cf7
  );
  animation: rotate 2s linear infinite;
  z-index: 0;
}

.sticker-container > .image-wrapper > img {
  top: 2px;
  left: 2px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: relative;
  z-index: 1; /* 이미지를 그라디언트 위에 표시 */
  object-fit: cover;
}
