.header-wrapper {
  width: 100%;
  border-bottom: 1px solid #e2e0e3;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffffaa;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    padding: 8px 0px;
    > .setting {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin-top: 4px;
    }
  }
}
