.header-wrapper {
  width: 100%;
  border-bottom: 1px solid #e2e0e3;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff88;

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    padding: 4px 12px;
    > .setting {
      display: flex;
      flex-direction: row;
      gap: 24px;

      border-radius: 24px;
    }
  }
}
