.input-wrapper {
  flex: 1 0 auto;
  height: 100%;
  border: 1px solid #c9c9c9;
  padding: 4px 8px;
  //border-radius: 36px;
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 8px;
  z-index: 10;
  position: relative;
  max-width: 470px;
  box-shadow:
    rgba(155, 158, 173, 0.2) 0px 1px 12px 0px,
    rgba(155, 158, 173, 0.2) 0px -1px 12px 0px;

  > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .input {
    margin: 0;
    width: calc(100% - 36px);
    padding: 8px 0px;
    border: none;
    background-color: inherit;
  }

  > .map-search-input-modal {
    position: absolute;
    top: 52px;
    width: 100%;
    z-index: 1200;
    background-color: white;
    height: 312px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
