.spot-map-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px 0 36px;

  > .spot-map-info {
    position: absolute;
    z-index: 1;
    background-color: white;
    max-width: 312px;
    width: 100%;
    top: 12px;
    right: 12px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    height: calc(100% - 24px);
    > .info-head {
      border-top: 1px solid #ecece1;
      padding: 12px;
    }

    > .info-body {
      padding: 0px 12px;
    }

    > .info-foot {
      position: absolute;
      bottom: 12px;
      width: calc(100% - 24px);
      left: 12px;
    }
  }

  > .spot-map-component {
    width: 100%;
    height: 100%;
    box-shadow: rgba(158, 158, 173, 0.2) 0px 3px 12px 0px;
    border: 1px solid #e9e9e9;
    border-radius: 12px;
    overflow: hidden;

    .spot-map-marker {
      background-color: #4285f4;
      color: #ffffff;
      padding: 4px;
      position: relative;
      border-radius: 50%; /* 원형으로 만들기 */
    }

    /* 새로 추가된 이미지 스타일 */
    .spot-map-marker > img {
      border-radius: 50%; /* 원형으로 만들기 */
      width: 50px; /* 원하는 이미지 크기로 조정 */
      height: 50px; /* 원하는 이미지 크기로 조정 */
      object-fit: cover; /* 이미지 비율을 유지하면서 요소에 맞춤 */
    }

    .bubble-wrapper {
      position: absolute; /* 절대 위치 설정 */
      top: -50px; /* spot-map-marker 위로 위치 조정 */
      left: 50%;
      transform: translateX(-50%); /* 중앙 정렬 */
      width: 100px; /* bubble의 너비 설정 */
    }

    .bubble:after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 10px 10px 0;
      border-color: #ffffff transparent;
      display: block;
      width: 0;
      z-index: 1;
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2)); /* 그림자 추가 */
    }

    .bubble {
      background-color: white;
      padding: 12px 0;
      text-align: center; /* 텍스트 중앙 정렬 */
      border-radius: 10px; /* 말풍선 모양 */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    }

    .spot-map-marker::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -4px);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #4285f4;
    }
  }
}
