.section {
  max-width: 1240px;

  &.mobile {
    width: calc(100% - 24px);
    padding: 0px 12px;
  }

  &.tablet {
    width: calc(100% - 64px);
    padding: 0px 32px;
  }

  &.float {
    overflow: scroll;
  }
}
